// Variables
$color-primario: white;
$color-secundario: black;
$border-color: #7900ff;
$fuente-body: Verdana, Geneva, Tahoma, sans-serif;
$fuenteh-1: Georgia, 'Times New Roman', Times, serif;
$tamano-logo: 85px;
$tamano-carrito: 25px;
$padding-top-h1: 25px;
$margin-bottom-carrito: 10px;


$breakpoints: (
  small: 300px,
  medium: 480px,
  large: 768px
);