html {
    min-height: 100%;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  h1 {
    color: white;
    text-align: center;
    padding-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .blanco {
    color: white;
  }
  
  body {
    background-color: black;
    // margin-left: 100px;
    // margin-right: 100px;
  }
  
  .negro {
    color: black;
  }
  
  .logo {
    width: 85px;
    height: 85px;
  }
  
  .navbar {
    text-align: right;
    position: relative;
  
    li {
      list-style: none;
      display: inline-block;
      margin-left: 10px;
    }
  }
  
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
  }
  
  p {
    color: white;
  }
  
  li {
    color: white;
    margin-top: 5px;
  }
  
  form {
    margin-top: 60px;
    text-align: center;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
  }
  
  input {
    margin-bottom: 15px;
  }
  
  .imgportada {
    margin-left: 23.5rem;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  
  ol {
    margin-top: 45px;
  }
  
  .info {
    text-align: center;
    margin-top: 45px;
  }
  
  iframe {
    margin-left: 550px;
    margin-top: 25px;
  }
  
  h2 {
    color: white;
    text-align: center;
    margin-top: 25px;
  }
  
  h4 {
    color: white;
    margin-top: 50px;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
  }
  
  .carrito {
    width: 25px;
    height: 25px;
  }
  
  .local {
    height: 500px;
    width: 100%;
  }
  
  main {
    margin-bottom: 50px;
  }
  
  .linea-articulo {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .div-articulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 10px 0;
    padding: 20px;
  }
  
  .div-img {
    flex: 1 1 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  
  .img-articulo {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 5px solid #7900ff;
  }
  
  .div-descripcion {
    flex: 2 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .titulo-articulo {
    text-align: left;
    margin-left: 50px;
  }
  
  .div-btn {
    display: table-cell;
    padding-right: 100px;
    vertical-align: middle;
  }
  
  .plus-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #7900FF;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .checkout-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7900FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
    &:hover {
      background-color: #7900FF;
    }
  }
  
  .finalizar-compra {
    color: white;
    text-align: center;
    margin-top: 60px;
  }
  
  .linea-carrito {
    display: table-row;
    width: 80%;
    margin-bottom: 10px;
  }
  
  .img-carrito {
    width: 80px;
    height: 80px;
  }
  
  .div-cantidad {
    display: table-cell;
    vertical-align: top;
    padding-right: 500px;
  }
  
  .total-carrito {
    color: white;
    font-size: 22px;
  }
  
  .producto-tabla {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .div-articulo {
      flex-direction: column;
    }
  
    .div-img {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .titulo-articulo {
      font-size: 1.2em;
    }
  
    .descripcion-articulo {
      font-size: 0.9em;
    }
  }
  
  .producto-carrito {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .linea-carrito {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .div-carrito {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  .div-img-carrito {
    img {
      max-width: 100px;
      height: auto;
      margin-right: 20px;
    }
  }
  
  .titulo-carrito {
    margin: 0;
  }
  
  @media (max-width: 300px) {
    .linea-carrito {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .div-img-carrito {
      img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  

#carouselExample {
    width: 50%;
    margin: 0 auto; 
  
    .carousel-inner {
      .carousel-item {
        img {
          width: 100%; 
          height: auto;
        }
      }
    }
  
    .carousel-control-prev,
    .carousel-control-next {
      width: 5%; 
    }
  }