html{
    min-height: 100%;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    body{
        background-color: black;
        h1{color: white;
            text-align: center;
            padding-top: 25px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    
    }
}
